################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/
/Specflow.DSL.Examples/bin/
/Specflow.DSL.Examples/obj/
/Specflow.DSL.Examples/TestResults/
/Specflow.DSL.SpecflowPlugin/bin/
/Specflow.DSL.SpecflowPlugin/obj/
